body
{
	background-image: url("no.png");
	font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
	color: red;
	font-size: 72px;
	
}
h3 {
    letter-spacing: 100px;
	}
.dhsu{
	border-radius: 110%;
}
object {
	border: 5px white inset;
}
a:hover{
	opacity: .5;
	color: #ff60a0;
}
.something_simple{
	border: 5px solid black;
	border-width: 100px;
}
.sameline{
	display: inline-block;
}